<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.lyrric.web.mapper.TorrentMapper">
  <resultMap id="BaseResultMap" type="com.github.lyrric.web.entity.Torrent">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="info_hash" jdbcType="VARCHAR" property="infoHash" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_size" jdbcType="BIGINT" property="fileSize" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.github.lyrric.web.entity.Torrent">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="files" jdbcType="LONGVARCHAR" property="files" />
  </resultMap>
  <select id="selectLastDayData" resultMap="ResultMapWithBLOBs">
    SELECT
      info_hash,
      file_name,
      file_size,
      add_time,
      files
    FROM
        torrent
    WHERE
        add_time >= date('2020-02-05 00:00:00')
    and add_time &lt; date('2020-02-06 00:00:00')
  </select>
</mapper>