<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.lyrric.web.mapper.UserRecordMapper">
  <resultMap id="BaseResultMap" type="com.github.lyrric.web.entity.UserRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="cellphone_name" jdbcType="VARCHAR" property="cellphoneName" />
    <result column="cellphone_id" jdbcType="VARCHAR" property="cellphoneId" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
</mapper>